.card__title {
    margin: 0;
    max-width: 80%;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* @media screen and (max-width: 767px) {
    .card__title {
        max-width: 75%;
    }
} */