.popup__input {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 83%;
    color: #000000;
    padding: 0 0 13px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}