.popup__view-container {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .popup__view-container {
        max-width: 80%;
    }
}