.container__close-button {
    position: absolute;
    top: 155px;
    right: 30%;
    width: 32px;
    height: 32px;
    padding: 0;
    border: 0;
    background-image: url(../../../images/buttons/close.svg);
    background-color: transparent;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
}

@media screen and (max-width: 767px) {
    .container__close-button {
        max-width: 20px;
        background-size: 20px;
        margin: 0 0 12px 0px;
    }
}